@font-face {
	font-family: 'Amazon Ember Light';
	src: url(../../assets/fonts/AmazonEmber-Light.woff2) format('woff2'),
	url(../../assets/fonts/AmazonEmber-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}