body {
    background-color: rgb(230, 230, 230);
}

code {
	color: red;
}

.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.p-0 {
    background-color: #201f25;
}

.courseOverlay {
    color: black;
}

.main-body {
    color: black;
}

.feature-box {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12);
    background-color: #fdfcfd;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.close {
    text-decoration: none;
    float: right;
    font-weight: bold;
}

.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
}

#head-container {
    color: white;
    font: serif;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #B30739;
}

#body-container {
    border: 1px solid grey;
    background-color: #fff5ef;
    padding: 20px;
}

#body-container h3 {
    margin-bottom: 20px;
}

#courseSelect, #courseSearch {
    width: 30vw;
    color: black;
}
