body {
    background-color: rgb(230, 230, 230);
}

code {
	color: red;
}

.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.p-0 {
    background-image: linear-gradient(to right, #201B1F, #201A2F)
}